h6 {
  margin-left: 10px;
}

header, main, footer {
  padding-left: 0px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#map {
  padding-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

label {
  color: black !important;
}

.white-font {
  color: white !important;
}
